.navItem{
    color:white !important;
    font-size: 0.8rem;
    cursor: pointer;
}

.navItem:hover{
    transition: all 300ms ;
    background-color: #574e7c;
}

.linkItem{
    text-decoration: none;
    color: white;
}

.linkItem:hover{
    text-decoration: none;
    color: white;
}